html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    margin: 0;
    background-color: #d3d3d3;
}

#container {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 21rem;
    padding: 1rem;
    gap: 0.25rem;
}

#display {
    background-color: white;
    height: 5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 4rem;
    text-align: right;
    padding: 0 0.5rem;
}

#container, #display {
    border: 1px solid black;
    border-radius: 1rem;
}

.regular-buttons, .double-width-buttons {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    background-color: #a0a0a0;
}

.double-width-buttons {
    width: 10.25rem;
}

.github-icon {
    height: 4rem;
}